{% extends "base.html" %}
{% block title %}Password Change{% endblock title %}
{% block content %}
    <div>
        {% comment %} for non-field errors {% endcomment %}
        {% comment %} {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p>{{error}}</p>
            {% endfor %}
        {% endif %} {% endcomment %}
    </div>
    <div>
        {% if messages %}
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button 
                type="submit"
                class="mt-4 px-4 py-2 text-white rounded-lg bg-blue-500 hover:bg-blue-600">
                Submit
            </button>
        </form>
    </div>
{% endblock content %}