{% extends "base.html" %}
{% block title %}Organizer Dashboard{% endblock title %}
{% block content %}
<h1 class="text-center text-3xl font-bold my-4">Organizer Dashboard</h1>

<div class="w-11/12 mx-auto flex justify-between my-4">
    <h1 class="text-2xl font-semibold">
        Hello {{user.first_name}} {{user.last_name}}, Manage your Events: 
    </h1>
    <a href="{% url 'create-event' %}"
        class="px-2 py-1 font-bold bg-cyan-300 border-2 rounded-md">
        Create Event
    </a>
</div>
{% comment %} Stats grid section {% endcomment %}
{% include "stats_grid.html" %}
<div>
    {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    {% endif %}
</div>
{% comment %} Event display section {% endcomment %}
    {% include "event_list_control.html" %}
{% endblock content %}