{% extends "base.html" %}
{% block title %}User Dashboard{% endblock title %}
{% block content %}

<div class="min-w-1/2 w-fit  mx-auto border-2 border-black p-5 rounded-sm">
    <h2 class="font-bold">Hello {{user.first_name}} {{user.last_name}}</h2>
    <div>
        {% if messages %}
            {% for message in messages %}
                <p class="w-full p-2 border-2 rounded-sm bg-rose-300 my-2">
                    {{message}}
                </p>
            {% endfor %}
        {% endif %}
    </div>
    <p class="text-2xl font-semibold">Events you have registered to </p>
    <div class="grid grid-cols-4 gap-1 text-sm mt-2 border-2 my-6 p-2 rounded-lg shadow-xl  bg-green-200">
        <div>Event Name</div>
        <div>Category </div>
        <div>Participants</div>
        <div class="flex justify-around">
            <div>Date</div>
            <div class="">More</div>
        </div>
    </div>
    {% for event in user.rsvp_events.all %}
        <div class="grid grid-cols-4 gap-1 text-sm mt-2 border-2 my-6 p-2 rounded-lg shadow-xl ">

            <div class="flex items-center gap-1">
                <div class="list_style w-1 h-1 bg-green-600 rounded-full "></div>
                <p class="font-semibold">{{event.name}}</p>
            </div>
            <div class="flex items-center">
                <div class=" bg-blue-200 w-fit p-1 rounded-md ">
                    <p>{{event.category}}</p>
                </div>
            </div>
            <div class="flex gap-1 text-center -space-x-3 text-white">
                <div class="list_style w-6 h-6 bg-green-600 rounded-full border border-white self-center flex items-center justify-center ">
                    <p >{{event.participants.all.count}}</p>
                </div>
            </div>
            <div class="flex items-center gap-3">
                
                <div class="flex items-center">
                    <p class="font-bold">{{event.date}}</p>
                </div>
                <button class="border-2 px-4 py-2 bg-slate-500 rounded-md">
                    <a href="{% url 'details' event.id %}">Details</a>
                </button>
                
            </div>
        </div>
    
    
    {% endfor %}




</div>

{% endblock content %}