{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock title %}
{% block content %}
{% comment %} Each Progress Card has a heading, a value and icon {% endcomment %}
<div class="w-1/2 mx-auto my-4">
    <h1 class="text-xl font-bold">Hello Admin</h1>
    <h2 class="text-lg font-bold">Manage your platform</h2>
</div>
<div>
    {% if messages %}
        {% for message in messages %}
            <p class="p-4 border-2 rounded-md bg-rose-300 my-2 font-semibold">
                {{message}}
            </p>
        {% endfor %}
    {% endif %}
</div>
{% comment %} Options Grid {% endcomment %}
<div class="w-5/6 mx-auto  p-8 rounded-md bg-gray-50">
    <section class="progress grid grid-cols-2 sm:grid-cols-4 gap-6 justify-between">
        <a href="{% url 'user-list' %}">
            <div class="progress_card bg-gray-200 p-4 rounded-md  shadow-xl">
                <h3 class="card_heading text-md mb-2 font-bold">Total Participants</h3>
                {% comment %} Value and Icon {% endcomment %}
                <div class="card_body flex justify-between">
                    <div class="text_side">
                        {% comment %} <p class="text-xl font-semibold">{{event_count.unique_participants}}</p> {% endcomment %}
                        <p class="text-xl font-semibold">5</p>
                        
                    </div>
                    <div class="icon_side w-7  flex justify-center ">
                        
                    <!-- icon ke padding diye backgournd color apply korsi
                    and border rounded korsi -->
                    <!-- parent div ke flex kore justify content k center e anchi, ete icon center e asche -->
                    </div>
                </div>
                <ul class="list-disc list-inside">
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                </ul>
            </div>
        </a>
        <a href="{% url 'admin-event-list' %}">
            <div class="progress_card  bg-gray-200 p-4 rounded-md  shadow-xl">
                <h3 class="card_heading text-md mb-2 font-bold">Total Events</h3>
                <div class="card_body flex justify-between">
                    <div class="text_side">
                        <p class="text-xl font-semibold">{{event_count}}</p>
                        
                    </div>
                    <div class="icon_side w-7  flex justify-center ">
                        
                        
                    <!-- icon ke padding diye backgournd color apply korsi
                    and border rounded korsi -->
                    <!-- parent div ke flex kore justify content k center e anchi, ete icon center e asche -->
                    </div>
                </div>
                <ul class="list-disc list-inside">
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                </ul>
            </div>
        </a>
        <a href="{% url 'group-list' %}">
            <div class="progress_card  bg-gray-200 p-4 rounded-md  shadow-xl ">
                <h3 class="card_heading text-md mb-2 font-bold">Groups</h3>
                <div class="card_body flex justify-between">
                    <div class="text_side">
                        <p class="text-xl font-semibold">{{group_count}}</p>
                        
                    </div>
                    <div class="icon_side w-7  flex justify-center ">
                        
                        
                    <!-- icon ke padding diye backgournd color apply korsi
                    and border rounded korsi -->
                    <!-- parent div ke flex kore justify content k center e anchi, ete icon center e asche -->
                    </div>
                </div>
                <ul class="list-disc list-inside">
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                </ul>
            </div>
        </a>
        <a href="{% url 'category-list' %}">
            <div class="progress_card  bg-gray-200 p-4 rounded-md  shadow-xl">
                <h3 class="card_heading text-md mb-2 font-bold">Categories</h3>
                <div class="card_body flex justify-between">
                    <div class="text_side">
                        <p class="text-xl font-semibold">{{category_count}}</p>
                        
                    </div>
                    <div class="icon_side w-7  flex justify-center ">
                        
                        
                    <!-- icon ke padding diye backgournd color apply korsi
                    and border rounded korsi -->
                    <!-- parent div ke flex kore justify content k center e anchi, ete icon center e asche -->
                    </div>
                </div>
                <ul class="list-disc list-inside">
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                </ul>
            </div>
        </a>
        <a href="{% url 'organizer-dashboard' %}">
            <div class="progress_card bg-gray-200 p-4 rounded-md  shadow-xl">
                <h3 class="card_heading text-md mb-2 font-bold">Events You Manage</h3>
                <div class="card_body flex justify-between">
                    <div class="text_side">
                        <p class="text-xl font-semibold">{{managed_event_count}}</p>
                        
                    </div>
                    <div class="icon_side w-7  flex justify-center ">
                        
                        
                    <!-- icon ke padding diye backgournd color apply korsi
                    and border rounded korsi -->
                    <!-- parent div ke flex kore justify content k center e anchi, ete icon center e asche -->
                    </div>
                </div>
                <ul class="list-disc list-inside">
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                </ul>
            </div>
        </a>
        
    </section>
</div>
{% comment %} {% if events %}
<div class="">
        {% include "event_list_control.html" %}
    </div>
{% endif %} {% endcomment %}
{% endblock content %}