{% extends "base.html" %}
{% block content %}
    <h2 class="text-2xl font-bold mb-4">Groups and Permissions</h2>
    {% for category in categories %}
        <div>
            <div class='grid grid-cols-2'>

                <p><b>{{category.name}}</b></p>
                <form action="{% url 'delete-category' category.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </div>
            <ul>

                {% for event in category.event_list.all %}
                    <li>{{event.name}}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

{% endblock content %}