{% extends "base.html" %}
{% block content %}
    {% comment %} Heading and Hero Section {% endcomment %}
    <div class="test_design w-full text-center p-5 bg-cyan-200">

        <h2 class="text-8xl">THE EVENT </h2>
        <p class="text-3xl">Seamless Events, Unforgettable Moments</p>
    </div>
    <pre>
        🎯 Primary Goal

        Explain what this platform is

        Who it is for

        Show value quickly

        Encourage users to explore or sign up
    </pre>
    <pre>
        1.  Hero Section (Always)
        2.  Platform Features / Services
        3.  Highlighted Events Section 
        4.  Call to Action (End of page)
            - “Browse all events”
            - “Join as organizer”
            - “Sign up”
    </pre>
    
{% endblock content %}