{% extends "base.html" %}
{% block content %}
    {% comment %} Heading and Hero Section {% endcomment %}
    <div class="test_design w-full text-center p-5 bg-cyan-200">

        <h2 class="text-8xl">THE EVENT </h2>
        <p class="text-3xl">Seamless Events, Unforgettable Moments</p>
    </div>
    <div>
        🎯 Primary Goal

        Explain what this platform is

        Who it is for

        Show value quickly

        Encourage users to explore or sign up
    </div>
    
{% endblock content %}