{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class=''>
    <section class="dashboard flex justify-between bg-slate-200 p-4">
        <h1 class="text-xl font-semibold">
            <a href="{% url 'home' %}">Event</a>
        </h1>
        <div >
            <ul class="flex space-x-4 font-semibold relative ">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'events' %}">Events</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="">Pages</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                
                
                <li><a href="{% url 'user-profile' %}">Profile</a></li>
            </ul>
            
        </div>
        <div class="icon_home flex gap-x-3">
            
              
            <div class="home_btn  text-center">
                <form method="POST" action="{% url 'sign-out' %}">
                    {% csrf_token %}
                    <button class='px-2 py-1 rounded-md  bg-sky-500 hover:bg-blue-600'>
                      Logout
                    </button>
                {% comment %} <a href="{% url 'sign-out' %}"class="text-white">Sign Out</a> {% endcomment %}
                {% comment %} <p class="text-white">Sign Out</p> {% endcomment %}
                </form>
            </div>
            
        </div>
    </section>
</body>
</html>