{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Event</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
    {% include "nav_bar.html" %}
    <h1>Event creation form page</h1>
    {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    <div class="w-1/2 mx-auto mt-8">
        
        <form action="" method="POST">
            {% csrf_token %}
            <div class="border">{{event_form.as_p}}</div>
            
            <button type="submit" class="mb-5 bg-rose-600 px-3 py-2 text-white mt-2 rounded-md">Submit</button>
        </form>
    </div>
</body>
</html>