{% extends "base.html" %}
{% block title %}create event{% endblock title %}
{% block content %}
<section class="p-4 w-1/2 mx-auto bg-violet-50">

    <h1 class="text-center text-3xl font-bold">{{title}}</h1>
    {% if messages %}
        {% for message in messages %}
        <p class="text-red text-center font-bold p-1 border-red-700 bg-blue-400 rounded-md">
            {{message}}
        </p>
        {% endfor %}
    {% endif %}
    <div class="mt-8 border-2 border-black p-4">
        
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                {% comment %} {{event_form.as_p}} {% endcomment %}
                {% for field in event_form %}
                    <div class="">
                        <label for="{{field.id_for_label}}" 
                            class="font-bold ">
                            {{field.label}}
                        </label>
                        <div class="">
                            {{field}}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div >

                <button 
                    type="submit" 
                    class="w-full my-4  p-4 bg-rose-600 text-white font-bold text-xl rounded-md "
                    >
                    Submit
                </button>
            </div>
            <p class="font-bold text-red-700">
                Cannot find your participant? 
                <a href="{% url 'create-participant' %}" class="text-blue-600">
                    Create participant here at first
                </a>
            </p>
        </form>
    </div>
</section>
{% endblock content %}