{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
    {% include "nav_bar.html" %}
    <section class="text-center w-4/5 mx-auto rounded-lg bg-cyan-100 p-5">
        <div class="m-3">
            <h1 class="text-3xl my-2">{{event.name}}</h1>
            <h4 class="text-xl">{{event.category}}</h4>

        </div>
        <div class="flex justify-evenly m-4">

            <h3 class="bg-violet-600 p-2 text-white rounded-md">{{event.date}}</h3>
            <div class="bg-violet-600 p-2 text-white rounded-md">{{event.time}}</div>
            <div class="bg-violet-600 p-2 text-white rounded-md">{{event.location}}</div>
        </div>
        <div>
            <p>{{event.description}}</p>
        </div>
        <div class="text-left w-4/5 mx-auto">
            <h4 class="text-xl">Participants: </h4>
            {% for member in event.participant_list.all %}
                <p>{{member.name}}</p>
            {% endfor %}
        </div>
    </section>
</body>
</html>