{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
    <h1 class="text-3xl">Welcome</h1>
    <div class="test_design">

        <h2 class="text-6xl">This is the event management system home page. </h2>
    </div>
    <p class="text-lg italic text-green-500">Testing tailwind integration</p>
    <div class="text-indigo-700 bg-gray-500 w-9/12 h-72 text-center">
        <p>Again testing tailwind integration</p>
    </div>
</body>
</html>